<style>#branding{display:none;}</style>
<div class="module-title">
  <div>About myBelmont</div>
</div>
<div class="container">
    <!--<div class="row">
        <div style='text-align:center;'>
            <img id="aboutbranding" style='width:auto;height:70px;' src="{{brandingUrl}}" />
        </div>
    </div>-->
    <div class="container" style="margin-top:20px;">
        <div align="justify" style="color:#000;">
        	<p>This is the official MyBelmont app for the students, faculty and staff at Belmont University, and it offers secure access to your essential Belmont information. Additional functions can be found on the desktop version at my.belmont.edu. This app was produced as a result of the Belmont Challenge for Innovation and was a collaborative effort involving faculty, staff and students.  Official Belmont University and Belmont Bruins mobile apps are also available for iOS and Android platforms.</p>
        	<p>Want to give us feedback and ideas for future versions? Contact <a href="mailto:mobileapps@belmont.edu">mobileapps@belmont.edu</a></p>
        	<div style="font-weight:600;text-shadow:none">Belmont University</div>
			<div>1900 Belmont Blvd., Nashville, TN 37212</div>
			<div>615-460-6000</div>
            <br/>
            <div align="center">
            	<div>MyBelmont app created in partnership with</div>
            	<div>KRYPTOS Mobile</div>
            	<div>(www.krytosmobile.com, <a href="mailto:info@kryptosmobile.com">info@kryptosmobile.com</a>)</div>
            	<div style="margin:auto;width:30%;">
            	    <img src="img/kryptos.png" style="margin:auto;width:90%;"/>
            	</div>
            	<div>Platform: V3.5</div>
            	<div>Build:Ver {{metadata.version}}</div>
            </div>
        </div>
    </div>
</div>