<style>#branding{display:none;}</style>
<div class="module-title">
  <div>Reset App</div>
</div>
<div class="container" id="settingscontainer">
    <!--<div class="row">
        <div style='text-align:center;'>
            <img id="settingsbranding" style='width:auto;height:70px;' src="{{brandingUrl}}" />
        </div>
    </div>-->
    <div class="container" style="margin-top:100px;">

        <p class="alert alert-danger">
        Oh no! Having an issue with your myBelmont app?
        <br/><br/>
        Just make sure you're connected to the Internet and hit the reset button below. If that doesn't fix the problem you're experiencing, please send us an email using the Send Feedback form and we'll take a look as soon as possible. Thanks!
        </p>
        <button class="btn btn-block btn-primary" ng-click="resetmyapp();">Reset App</button>

    </div>
</div>